NODE_ENV=production
# database
DB_URL=mongodb://xxxxxxxxxxxxxx:xxxxxxxxxxxxxx/xxxxxxxxxxxxxx
# cookie
JWT_SECRET=xxxxxxxxxxxxxx
COOKIE_SECRET=xxxxxxxxxxxxxx
# twitter
TW_CKEY=xxxxxxxxxxxxxx
TW_CS=xxxxxxxxxxxxxx
TW_AT=xxxxxxxxxxxxxx
TW_ATS=xxxxxxxxxxxxxx
# network
SERVER_URL='http://localhost:3000'
# Storage Location
STATIC_FILES='/../../public/static'
